<section class="left-column">
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Label Type
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
    {{#each model as |item|}}
      <tr id="label_template_{{item.id}}">
        <td>{{item.name}}</td>
      </tr>
    {{/each}}
  </table>
</section>