<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Print My Barcode 1.0</title>
  <style type="text/css">
    .highlight table td { padding: 5px; }
    .highlight table pre { margin: 0; }
    .highlight .cm {
      color: #999988;
      font-style: italic;
    }
    .highlight .cp {
      color: #999999;
      font-weight: bold;
    }
    .highlight .c1 {
      color: #999988;
      font-style: italic;
    }
    .highlight .cs {
      color: #999999;
      font-weight: bold;
      font-style: italic;
    }
    .highlight .c, .highlight .cd {
      color: #999988;
      font-style: italic;
    }
    .highlight .err {
      color: #a61717;
      background-color: #e3d2d2;
    }
    .highlight .gd {
      color: #000000;
      background-color: #ffdddd;
    }
    .highlight .ge {
      color: #000000;
      font-style: italic;
    }
    .highlight .gr {
      color: #aa0000;
    }
    .highlight .gh {
      color: #999999;
    }
    .highlight .gi {
      color: #000000;
      background-color: #ddffdd;
    }
    .highlight .go {
      color: #888888;
    }
    .highlight .gp {
      color: #555555;
    }
    .highlight .gs {
      font-weight: bold;
    }
    .highlight .gu {
      color: #aaaaaa;
    }
    .highlight .gt {
      color: #aa0000;
    }
    .highlight .kc {
      color: #000000;
      font-weight: bold;
    }
    .highlight .kd {
      color: #000000;
      font-weight: bold;
    }
    .highlight .kn {
      color: #000000;
      font-weight: bold;
    }
    .highlight .kp {
      color: #000000;
      font-weight: bold;
    }
    .highlight .kr {
      color: #000000;
      font-weight: bold;
    }
    .highlight .kt {
      color: #445588;
      font-weight: bold;
    }
    .highlight .k, .highlight .kv {
      color: #000000;
      font-weight: bold;
    }
    .highlight .mf {
      color: #009999;
    }
    .highlight .mh {
      color: #009999;
    }
    .highlight .il {
      color: #009999;
    }
    .highlight .mi {
      color: #009999;
    }
    .highlight .mo {
      color: #009999;
    }
    .highlight .m, .highlight .mb, .highlight .mx {
      color: #009999;
    }
    .highlight .sb {
      color: #d14;
    }
    .highlight .sc {
      color: #d14;
    }
    .highlight .sd {
      color: #d14;
    }
    .highlight .s2 {
      color: #d14;
    }
    .highlight .se {
      color: #d14;
    }
    .highlight .sh {
      color: #d14;
    }
    .highlight .si {
      color: #d14;
    }
    .highlight .sx {
      color: #d14;
    }
    .highlight .sr {
      color: #009926;
    }
    .highlight .s1 {
      color: #d14;
    }
    .highlight .ss {
      color: #990073;
    }
    .highlight .s {
      color: #d14;
    }
    .highlight .na {
      color: #008080;
    }
    .highlight .bp {
      color: #999999;
    }
    .highlight .nb {
      color: #0086B3;
    }
    .highlight .nc {
      color: #445588;
      font-weight: bold;
    }
    .highlight .no {
      color: #008080;
    }
    .highlight .nd {
      color: #3c5d5d;
      font-weight: bold;
    }
    .highlight .ni {
      color: #800080;
    }
    .highlight .ne {
      color: #990000;
      font-weight: bold;
    }
    .highlight .nf {
      color: #990000;
      font-weight: bold;
    }
    .highlight .nl {
      color: #990000;
      font-weight: bold;
    }
    .highlight .nn {
      color: #555555;
    }
    .highlight .nt {
      color: #000080;
    }
    .highlight .vc {
      color: #008080;
    }
    .highlight .vg {
      color: #008080;
    }
    .highlight .vi {
      color: #008080;
    }
    .highlight .nv {
      color: #008080;
    }
    .highlight .ow {
      color: #000000;
      font-weight: bold;
    }
    .highlight .o {
      color: #000000;
      font-weight: bold;
    }
    .highlight .w {
      color: #bbbbbb;
    }
    .highlight {
      background-color: #f8f8f8;
    }
  </style>
  <style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Inconsolata);
    html {
      -webkit-font-smoothing: antialiased;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      font-size: 11pt; }
    
    main {
      display: block;
      width: 75em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      margin-bottom: 2em; }
    
    h1.title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-size: 24pt; }
    
    h2 {
      font-family: "Inconsolata", monospace;
      font-size: 16pt;
      font-weight: normal;
      margin-bottom: 0.25em; }
    
    h3 {
      font-size: 15pt;
      font-weight: normal;
      color: #444; }
    
    h4 {
      font-size: 14pt;
      font-weight: normal;
      font-style: italic;
      color: #444; }
    
    h5 {
      font-size: 11pt;
      font-style: italic;
      color: #333;
      margin-top: 1em;
      margin-bottom: 1em; }
    
    h6 {
      font-size: 11pt;
      font-weight: normal;
      text-decoration: underline;
      margin-top: 1em;
      margin-bottom: 1em; }
    
    .documentation {
      margin-bottom: 3em; }
    
    .properties {
      margin-bottom: 1.25em; }
    
    .property {
      font-variant: small-caps;
      font-size: 1.15em;
      color: #252525;
      margin-right: 0.3em; }
    
    .param {
      margin-bottom: .75em; }
    
    .param_names {
      margin-right: 1em; }
    
    .param_name {
      font-family: "Inconsolata", monospace;
      font-weight: bold;
      color: #444; }
    
    .param_attrs {
      color: #555;
      font-style: italic; }
    
    .param_attr {
      margin-right: 0.5em; }
    
    .param_attr:after {
      content: ", "; }
    
    .param_attr:last-child:after {
      content: ""; }
    
    .param_val {
      color: #000; }
    
    .param_description {
      margin-top: 0.5em;
      margin-left: 1em;
      color: #252525; }
    
    .method_description {
      color: #252525; }
    
    .response_description {
      color: #252525; }
    
    .url_param {
      color: red; }
    
    main section > .collapse_content {
      margin-left: 1em; }
    
    .subsection {
      margin-left: 1em; }
    
    label {
      cursor: pointer; }
    
    input[type=checkbox] {
      display: none; }
    
    input[type=checkbox]:checked ~ div {
      display: none; }
    
  </style>
</head>
<main>
  <h1 class="title">
    Print My Barcode 1.0
  </h1>
  <section>
    <div class="properties">
      <div>
        <span class="property">base uri:</span> http://localhost
      </div>
    </div>
  </section><section>
  <label for="collapse-1"><h2>/label_types </h2></label><input aria-hidden="true" checked id="collapse-1" type="checkbox">
  <div class="collapse_content">
<div class="properties">
</div><section>
  <label for="collapse-2"><h3>post </h3></label><input aria-hidden="true" checked id="collapse-2" type="checkbox">
  <div class="collapse_content">
<div class="method_description">
  <p>Create a new Label Type</p>
  
</div><section>
  <label for="collapse-3"><h4>Request </h4></label><input aria-hidden="true" checked id="collapse-3" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-4"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-4" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-5"><h5>Schema </h5></label><input aria-hidden="true" checked id="collapse-5" type="checkbox">
  <div class="collapse_content"><pre><code class="schema"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"label_type"</span><span class="p">:</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"name"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The name of the label"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Plate"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"feed_value"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w">  </span><span class="s2">"Feed value to be finely adjusted (000 - 500)"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"004"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"fine_adjustment"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Print density fine adjustment value 00 to 10 (in units of 1 step)"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"08"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"pitch_length"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Pitch length of the label"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0110"</span><span class="w">
      </span><span class="p">},</span><span class="w"> 
      </span><span class="nt">"print_width"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Effective print width"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0920"</span><span class="w">
      </span><span class="p">},</span><span class="w"> 
      </span><span class="nt">"print_length"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Effective print length"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0080"</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-6"><h4>Responses </h4></label><input aria-hidden="true" checked id="collapse-6" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-7"><h5>200 </h5></label><input aria-hidden="true" checked id="collapse-7" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-8"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-8" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-9"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-9" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">[</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span><span class="w">
    </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"008"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"02"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0430"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0300"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0400"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Tube"</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">]</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-10"><h5>422 </h5></label><input aria-hidden="true" checked id="collapse-10" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-11"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-11" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-12"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-12" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">{</span><span class="w">
</span><span class="nt">"errors"</span><span class="p">:</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="w"> </span><span class="p">],</span><span class="w">
    </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="w"> </span><span class="s2">"is invalid"</span><span class="w"> </span><span class="p">],</span><span class="w">
    </span><span class="nt">"print_width"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="w"> </span><span class="s2">"is invalid"</span><span class="w"> </span><span class="p">],</span><span class="w">
    </span><span class="nt">"print_length"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="s2">"is invalid"</span><span class="w"> </span><span class="p">],</span><span class="w">
    </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="w"> </span><span class="s2">"is invalid"</span><span class="w"> </span><span class="p">],</span><span class="w">
    </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w"> </span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="w"> </span><span class="s2">"is invalid"</span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-13"><h3>get </h3></label><input aria-hidden="true" checked id="collapse-13" type="checkbox">
  <div class="collapse_content">
<div class="method_description">
  <p>Return all of the Label Types</p>
  
</div><section>
  <label for="collapse-14"><h4>Responses </h4></label><input aria-hidden="true" checked id="collapse-14" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-15"><h5>200 </h5></label><input aria-hidden="true" checked id="collapse-15" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-16"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-16" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-17"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-17" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">[</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">2</span><span class="p">,</span><span class="w">
    </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"08"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"022"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0430"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0300"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0400"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Tube"</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">3</span><span class="p">,</span><span class="w">
    </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"08"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"004"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0110"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0920"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0080"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Rack"</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">4</span><span class="p">,</span><span class="w">
    </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"08"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"004"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0110"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0920"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0080"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Plate"</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">]</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-18"><h2>/label_templates </h2></label><input aria-hidden="true" checked id="collapse-18" type="checkbox">
  <div class="collapse_content">
<div class="properties">
</div><section>
  <label for="collapse-19"><h3>get </h3></label><input aria-hidden="true" checked id="collapse-19" type="checkbox">
  <div class="collapse_content">
<div class="method_description">
  <p>Return a list of all of the Label Templates</p>
  
</div><section>
  <label for="collapse-20"><h4>Responses </h4></label><input aria-hidden="true" checked id="collapse-20" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-21"><h5>200 </h5></label><input aria-hidden="true" checked id="collapse-21" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-22"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-22" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-23"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-23" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">[</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"LabWhere"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"label_type"</span><span class="p">:</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">4</span><span class="p">,</span><span class="w">
        </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"08"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"004"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0110"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0920"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0080"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Plate"</span><span class="w">
      </span><span class="p">},</span><span class="w">
    </span><span class="nt">"labels"</span><span class="p">:</span><span class="w">
    </span><span class="p">[</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w"> 
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0300"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0000"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"barcode"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"barcode_type"</span><span class="p">:</span><span class="s2">"9"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"one_module_width"</span><span class="p">:</span><span class="s2">"02"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"height"</span><span class="p">:</span><span class="s2">"0070"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"footer"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0050"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"footer_text_1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0020"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"footer_text_2"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="err">]</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="err">}</span><span class="w">
</span><span class="p">]</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-24"><h3>post </h3></label><input aria-hidden="true" checked id="collapse-24" type="checkbox">
  <div class="collapse_content">
<div class="method_description">
  <p>Create a new Label Template</p>
  
</div><section>
  <label for="collapse-25"><h4>Request </h4></label><input aria-hidden="true" checked id="collapse-25" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-26"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-26" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-27"><h5>Schema </h5></label><input aria-hidden="true" checked id="collapse-27" type="checkbox">
  <div class="collapse_content"><pre><code class="schema"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"label_template"</span><span class="p">:</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The unique name of the Label Template"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="w">
        </span><span class="s2">"example"</span><span class="err">:</span><span class="w"> </span><span class="s2">"LabWhere"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"label_type_id"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The id of the Label Type with which the template is associated"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="w">
      </span><span class="p">}</span><span class="w">
      </span><span class="s2">"labels_attributes"</span><span class="err">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"List of labels for the label template. Each label will consist of a name, an array of bitmaps and an array of barcodes."</span><span class="w">
        </span><span class="s2">"required"</span><span class="err">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
        </span><span class="s2">"type"</span><span class="err">:</span><span class="w"> </span><span class="s2">"array"</span><span class="w">
        </span><span class="s2">"properties"</span><span class="w"> </span><span class="err">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="nt">"name"</span><span class="p">:{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Label name, which should be unique for the label template"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="w">
            </span><span class="s2">"example"</span><span class="err">:</span><span class="w"> </span><span class="s2">"label_1"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="nt">"bitmaps_attributes"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"An array of bitmaps that are part of the label"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="err">array</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="nt">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
              </span><span class="nt">"field_name"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The unique name of the field"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"bitmap_1"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Print origin of X-coordinate of barcode"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0040"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Print origin of Y-coordinate of barcode"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0060"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"horizontal_magnification"</span><span class="p">:{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Character horizontal magnification (Two digit designation enables magnifications in 0.5 units)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"05"</span><span class="w">
              </span><span class="p">},</span><span class="w"> 
              </span><span class="nt">"vertical_magnification"</span><span class="p">:{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Character vertical magnification (The magnification can be designated in 0.1 units between 0.5 to 1)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"05"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"font"</span><span class="p">:{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Type of font e.g. Helvetica medium"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"G"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"space_adjustment"</span><span class="p">:{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"No of spaces between characters (00 - 99)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
              </span><span class="p">},</span><span class="w"> 
              </span><span class="nt">"rotational_angles"</span><span class="p">:{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Rotational angles of character and character string (mostly 00)"</span><span class="w">
                </span><span class="s2">"type"</span><span class="err">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"00"</span><span class="w">
              </span><span class="p">}</span><span class="w">
            </span><span class="p">}</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="nt">"barcodes_attributes"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"An array of barcodes that are part of the label"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"array"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="nt">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
              </span><span class="nt">"field_name"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The unique name of the field"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"barcode_1"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Print origin of X-coordinate of barcode"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0040"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Print origin of Y-coordinate of barcode"</span><span class="p">,</span><span class="w">
                </span><span class="err">type</span><span class="p">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="err">required</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="err">example</span><span class="p">:</span><span class="w"> </span><span class="s2">"0060"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="err">barcode_type</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="err">description:</span><span class="w"> </span><span class="nt">"A single letter or number indicating the type of barcode e.g. code128, EAN13, 2D"</span><span class="err">,</span><span class="w">
                </span><span class="err">type</span><span class="p">:</span><span class="w"> </span><span class="err">string</span><span class="p">,</span><span class="w">
                </span><span class="err">required</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="err">example</span><span class="p">:</span><span class="w"> </span><span class="s2">"Q"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="err">one_module_width</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="err">description:</span><span class="w"> </span><span class="nt">"1-module width 0-15 in dots"</span><span class="err">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"06"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"one_cell_width"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"1-cell width 00 to 99 (in dots)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"99"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"rotational_angle"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"rotational angle of barcode (0 - 0, 1 - 90, 2 - 180, 3 - 270)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"1"</span><span class="w">
              </span><span class="p">},</span><span class="w">
              </span><span class="nt">"height"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
                </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Height of barcode (0001 - 1000)"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"string"</span><span class="p">,</span><span class="w">
                </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
                </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"0070"</span><span class="w">
              </span><span class="p">}</span><span class="w">
            </span><span class="p">}</span><span class="w">
          </span><span class="p">}</span><span class="w">
          
        </span><span class="p">}</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">}</span><span class="w">

  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-28"><h4>Responses </h4></label><input aria-hidden="true" checked id="collapse-28" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-29"><h5>200 </h5></label><input aria-hidden="true" checked id="collapse-29" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-30"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-30" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-31"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-31" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">{</span><span class="w">
    </span><span class="nt">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"LabWhere"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"label_type"</span><span class="p">:</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"id"</span><span class="p">:</span><span class="mi">4</span><span class="p">,</span><span class="w">
        </span><span class="nt">"feed_value"</span><span class="p">:</span><span class="s2">"08"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"fine_adjustment"</span><span class="p">:</span><span class="s2">"004"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"pitch_length"</span><span class="p">:</span><span class="s2">"0110"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"print_width"</span><span class="p">:</span><span class="s2">"0920"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"print_length"</span><span class="p">:</span><span class="s2">"0080"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"Plate"</span><span class="w">
      </span><span class="p">},</span><span class="w">
    </span><span class="nt">"labels"</span><span class="p">:</span><span class="w">
    </span><span class="p">[</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w"> 
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0030"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"05"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0300"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0000"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"barcode"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"barcode_type"</span><span class="p">:</span><span class="s2">"9"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"one_module_width"</span><span class="p">:</span><span class="s2">"02"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"height"</span><span class="p">:</span><span class="s2">"0070"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"name"</span><span class="p">:</span><span class="s2">"footer"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"bitmaps"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0050"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0035"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"footer_text_1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="nt">"x_origin"</span><span class="p">:</span><span class="s2">"0020"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"y_origin"</span><span class="p">:</span><span class="s2">"0065"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"field_name"</span><span class="p">:</span><span class="s2">"footer_text_2"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"horizontal_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"vertical_magnification"</span><span class="p">:</span><span class="s2">"1"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"font"</span><span class="p">:</span><span class="s2">"G"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"space_adjustment"</span><span class="p">:</span><span class="s2">"00"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"rotational_angles"</span><span class="p">:</span><span class="s2">"00"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">],</span><span class="w">
        </span><span class="nt">"barcodes"</span><span class="p">:</span><span class="w">
        </span><span class="p">[</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="err">]</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="err">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-32"><h5>422 </h5></label><input aria-hidden="true" checked id="collapse-32" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-33"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-33" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-34"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-34" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"errors"</span><span class="p">:{</span><span class="w">
    </span><span class="nt">"name"</span><span class="p">:[</span><span class="s2">"can't be blank"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"label_type"</span><span class="p">:[</span><span class="s2">"does not exist"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"labels.bitmaps.field_name"</span><span class="p">:[</span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="s2">"is invalid"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"labels.bitmaps.x_origin"</span><span class="p">:[</span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="s2">"is invalid"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"labels.bitmaps.y_origin"</span><span class="p">:[</span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="s2">"is invalid"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"labels.bitmaps"</span><span class="p">:[</span><span class="s2">"is invalid"</span><span class="p">],</span><span class="nt">"name"</span><span class="p">:[</span><span class="s2">"has already been taken"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"labels"</span><span class="p">:[</span><span class="s2">"is invalid"</span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-35"><h2>/print_jobs </h2></label><input aria-hidden="true" checked id="collapse-35" type="checkbox">
  <div class="collapse_content">
<div class="properties">
</div><section>
  <label for="collapse-36"><h3>post </h3></label><input aria-hidden="true" checked id="collapse-36" type="checkbox">
  <div class="collapse_content">
<div class="method_description">
  <p>Print a label to a named printer and selected label template</p>
  
</div><section>
  <label for="collapse-37"><h4>Request </h4></label><input aria-hidden="true" checked id="collapse-37" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-38"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-38" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-39"><h5>Schema </h5></label><input aria-hidden="true" checked id="collapse-39" type="checkbox">
  <div class="collapse_content"><pre><code class="schema"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"print_job"</span><span class="p">:</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"properties"</span><span class="p">:{</span><span class="w">
      </span><span class="nt">"printer_name"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The name of the printer to print the job to"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="s2">"d304bc"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"label_template_id"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The id of the label template to use for the print job"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="nt">"labels"</span><span class="p">:{</span><span class="w">
        </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"The labels that are to be printed"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
        </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
        </span><span class="nt">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="nt">"header"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Header label"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="nt">"header_text_1"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header_text_1"</span><span class="p">,</span><span class="w"> </span><span class="nt">"header_text_2"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header_text_2"</span><span class="p">}</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="nt">"body"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"A body of labels"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"array"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="p">[{</span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"location"</span><span class="p">,</span><span class="w"> </span><span class="nt">"parent_location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w"> </span><span class="nt">"barcode"</span><span class="p">:</span><span class="w"> </span><span class="s2">"barcode"</span><span class="p">}},</span><span class="w"> </span><span class="p">{</span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"location"</span><span class="p">,</span><span class="w"> </span><span class="nt">"parent_location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w"> </span><span class="nt">"barcode"</span><span class="p">:</span><span class="w"> </span><span class="s2">"barcode"</span><span class="p">}}]</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="nt">"footer"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
            </span><span class="nt">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Footer label"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="nt">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"object"</span><span class="p">,</span><span class="w">
            </span><span class="nt">"example"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="nt">"footer_text_1"</span><span class="p">:</span><span class="w"> </span><span class="s2">"footer_text_1"</span><span class="p">,</span><span class="w"> </span><span class="nt">"footer_text_2"</span><span class="p">:</span><span class="w"> </span><span class="s2">"footer_text_2"</span><span class="p">}</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">}</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-40"><h4>Responses </h4></label><input aria-hidden="true" checked id="collapse-40" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-41"><h5>200 </h5></label><input aria-hidden="true" checked id="collapse-41" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-42"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-42" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-43"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-43" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"printer_name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"d304bc"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"label_template_id"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
  </span><span class="nt">"labels"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"header"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"header_text_1"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header_text_1"</span><span class="p">,</span><span class="w">
      </span><span class="nt">"header_text_2"</span><span class="p">:</span><span class="w"> </span><span class="s2">"header_text_2"</span><span class="w">
    </span><span class="p">},</span><span class="w"> 
    </span><span class="nt">"footer"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"footer_text_1"</span><span class="p">:</span><span class="w"> </span><span class="s2">"footer_text_1"</span><span class="p">,</span><span class="w">
      </span><span class="nt">"footer_text_2"</span><span class="p">:</span><span class="w"> </span><span class="s2">"footer_text_2"</span><span class="w">
    </span><span class="p">},</span><span class="w"> 
    </span><span class="nt">"body"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"location"</span><span class="p">,</span><span class="w"> 
          </span><span class="nt">"parent_location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
          </span><span class="nt">"barcode"</span><span class="p">:</span><span class="w"> </span><span class="s2">"barcode"</span><span class="w">
         </span><span class="p">}</span><span class="w">
      </span><span class="p">},</span><span class="w"> 
      </span><span class="p">{</span><span class="w">
        </span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="nt">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"location"</span><span class="p">,</span><span class="w"> 
          </span><span class="nt">"parent_location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"parent_location"</span><span class="p">,</span><span class="w">
          </span><span class="nt">"barcode"</span><span class="p">:</span><span class="w"> </span><span class="s2">"barcode"</span><span class="w">
        </span><span class="p">}</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w"> 
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section><section>
  <label for="collapse-44"><h5>422 </h5></label><input aria-hidden="true" checked id="collapse-44" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-45"><h5>application/json </h5></label><input aria-hidden="true" checked id="collapse-45" type="checkbox">
  <div class="collapse_content"><section>
  <label for="collapse-46"><h5>Example </h5></label><input aria-hidden="true" checked id="collapse-46" type="checkbox">
  <div class="collapse_content"><pre><code class="example"><pre class="highlight"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"errors"</span><span class="p">:</span><span class="w">
  </span><span class="p">{</span><span class="w">
    </span><span class="nt">"labels"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="s2">"can't be blank"</span><span class="p">,</span><span class="s2">"There should be some labels"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"printer"</span><span class="p">:[</span><span class="s2">"Printer does not exist"</span><span class="p">],</span><span class="w">
    </span><span class="nt">"label_template"</span><span class="p">:[</span><span class="s2">"Label template does not exist"</span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>
</code></pre>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section>
  </div>
</section></main>