@import "bourbon";
@import "neat-helpers";
@import "neat";
@import "bower_components/bitters/app/assets/stylesheets/base";


.container{
  @include outer-container;
}

.left-column{
  @include span-columns(5);

  table{
    font-size: 0.8em;

    th,td{
      text-align: center;

      &:first-child{
        width: 100px;
      }
    }
  }
}

.shift-right{
  @include shift(10);
}

h2{
  font-size: 2em;
}

header{
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}